*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:95vh;
}

.login-box {
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    width: 400px;
    text-align: center;
}
.login-box h2 {
    color: white;
    margin-bottom: 20px;
}
.login-box input {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;;
}
.login-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-box button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #00ff6c;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Forgot {
    color: white;
    display: flex;
    justify-content: end;
    font-size: 14px;
}

.login-box a {
    color: #00ff6c;
    text-decoration: none;
}

.checkbox {
    color: white;
    display: flex;
    justify-content: start;
    gap: 10px;
}