.hero {
    width: 60%;
    position: relative; /* Allow natural height expansion */
    top: 100px;
    background-color: #111;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Ensure vertical stacking */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 20px auto; /* Center horizontally */
}

.vsPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;

}

.match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.team h3 {
    color: white;
    margin-top: 10px;
}

.vs {
    font-size: 24px;
    font-weight: bold;
    color: #48ff00;
}
