<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>FC Site</title>
</head>
<body>
    <div class="container">
        <div class="topbar">
            <a href="#">Support</a>
            <a>/</a>
            <a href="#">?</a>
        </div>
        <nav class="navbar">
            <div class="logo">
                <img src="static/logo.png" alt="FC Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('myclub') }}">My Club</a></li>
                <li><a href="{{ url_for('myclub') }}">Games</a></li>
                <li><a href="{{ url_for('matches') }}">Matches</a></li>
            </ul>
            {% if user %}
                <a href="{{ url_for('logout') }}" class="login-btn">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="login-btn">Login</a>
            {% endif %}
        </nav>
        <div class="test">{{ user[4] }}</div>
    </div>
</body>
</html>