<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='match.css') }}">

    <title>FC Matches</title>
</head>
<body>
    <div class="container">
        <div class="topbar">
            <a href="#">Support</a>
            <a>/</a>
            <a href="#">?</a>
        </div>
        <nav class="navbar">
            <div class="logo">
                <img src="static/logo.png" alt="FC Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('myclub') }}">My Club</a></li>
                <li><a href="{{ url_for('myclub') }}">Games</a></li>
                <li><a href="{{ url_for('matches') }}">Matches</a></li>
            </ul>
            {% if user %}
                <a href="{{ url_for('logout') }}" class="login-btn">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="login-btn">Login</a>
            {% endif %}
        </nav>
    </div>
    <div class="hero">
        <div class="vsPanel">
            {% for team in teams %}
            <div class="match">
                <div class="team">
                    <img src="static/teams/{{ team[1]|lower }}.png" alt="{{ team[1] }}">
                    <h3>{{ team[1] }}</h3>
                </div>
                <div class="vs">VS</div>
                <div class="team">
                    <img src="static/teams/{{ team[3]|lower }}.png" alt="{{ team[3] }}">
                    <h3>{{ team[3] }}</h3>
                </div>
            </div>
            <div class="match-result">
                <p>Final Score: {{ team[2] }} - {{ team[4] }}</p>
                <p>
                    {% if team[2] > team[4] %}
                        Winner: {{ team[1] }}
                    {% elif team[2] < team[4] %}
                        Winner: {{ team[3] }}
                    {% else %}
                        It's a Draw!
                    {% endif %}
                </p>
            </div>
            {% endfor %}
        </div>
        
    </div>
</body>
</html>