<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='match.css') }}">

    <title>FC Matches</title>
</head>
<body>
    <div class="container">
        <div class="topbar">
            <a href="#">Support</a>
            <a>/</a>
            <a href="#">?</a>
        </div>
        <nav class="navbar">
            <div class="logo">
                <img src="static/logo.png" alt="FC Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('myclub') }}">My Club</a></li>
                <li><a href="{{ url_for('myclub') }}">Games</a></li>
                <li><a href="{{ url_for('matches') }}">Matches</a></li>
                <div class="test">{{ user[4] }}</div>
            </ul>
            {% if user %}
                <a href="{{ url_for('logout') }}" class="login-btn">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="login-btn">Login</a>
            {% endif %}
        </nav>
    </div>
    <div class="hero">
        <div class="vsPanel">
            {% for team in teams %}
            <div class="match">
                <div class="team">
                    <img src="static/teams/{{ team[1]|lower }}.png" alt="{{ team[1] }}">
                    <h3>{{ team[0] }}</h3>
                </div>
                <div class="vs">VS</div>
                <div class="team">
                    <img src="static/teams/{{ team[3]|lower }}.png" alt="{{ team[3] }}">
                    <h3>{{ team[2] }}</h3>
                </div>
            </div>
            <div class="match-result">
                <p class="stats">Final Score: {{ team[1] }} - {{ team[3] }}</p>
                
                {% set match_time = team[4] %}
                <p>Time left: <span class="timer" data-start-time="{{ match_time }}"></span></p>
                
                {% if team[1] > team[3] %}
                    <p class="stats">Winner: {{ team[1] }}</p>
                {% elif team[1] < team[3] %}
                    <p class="stats">Winner: {{ team[3] }}</p>
                {% else %}
                    <p class="stats">It's a Draw!</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        
    </div>
</body>
<script src="{{ url_for('static', filename='timer.js') }}"></script>
</html>