<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FC Player Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
    <div class="topbar">
        <a href="#">Support</a>
        <a>/</a>
        <a href="#">?</a>
    </div>
    <nav class="navbar">
        <div class="logo">
            <img src="static/logo.png" alt="FC Logo">
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('myclub') }}">My Club</a></li>
            <li><a href="{{ url_for('myclub') }}">Games</a></li>
            <li><a href="{{ url_for('matches') }}">Matches</a></li>
        </ul>
        {% if user %}
        <a href="{{ url_for('logout') }}" class="login-btn">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="login-btn">Login</a>
        {% endif %}    </nav>
    <div class="container">
        <div class="player-list">
            <h3>Players</h3>
            <div onclick="selectPlayer('Messi', 10)">Messi</div>
            <div onclick="selectPlayer('Ronaldo', 12)">Ronaldo</div>
            <div onclick="selectPlayer('Neymar', 9)">Neymar</div>
            <div onclick="selectPlayer('MoSalah', 10)">MoSalah</div>
            <div onclick="selectPlayer('Alaktaa', 15)">Alaktaa</div>
        </div>
        <button onclick="savePlayers()">Save</button>
        <div class="field-container">
            <div class="field" id="field">
                <img src="static/fieldFc.png" alt="Football Field">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js.js') }}"></script>
</body>
</html>
